* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F2FF;
  overflow: hidden;
}

#unity-canvas {
  width: 100vw;
  height: 100vh;
}

canvas {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
